.checkout-container {
    margin-left: 5%;
    width: 35%;
    background-color: lightgrey;
}

.checkout-container label {
    font-size: 25px;
    margin-left: 45%;
}

.checkout-items {}
.checkout-item {}

.checkout-items table {
    margin: auto;
    padding-bottom: 35px;
}

.checkout-item td {
    padding-bottom: 20px;
}

.checkout-item input {
    width: 50px;
}

